In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2114HotfixDev8/v3/en-us/applemobilitytrends-2021-08-06.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-07-28,2021-07-29,2021-07-30,2021-07-31,2021-08-01,2021-08-02,2021-08-03,2021-08-04,2021-08-05,2021-08-06
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,181.14,181.63,192.99,212.41,166.20,183.17,163.88,180.50,196.84,207.15
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,177.71,203.61,232.62,207.41,168.31,183.62,196.50,174.17,178.33,205.79
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,306.15,314.67,427.63,580.53,430.41,318.46,290.71,273.08,313.08,409.59
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,187.67,189.01,201.54,176.21,134.89,181.69,184.99,184.03,189.99,201.31
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,168.48,170.55,219.79,202.55,167.44,155.63,151.32,151.80,180.85,202.39

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1189205       Yuma         Arizona  2021-08-02 127.91
1189206       Yuma         Arizona  2021-08-03 117.82
1189207       Yuma         Arizona  2021-08-04 121.38
1189208       Yuma         Arizona  2021-08-05 124.92
1189209       Yuma         Arizona  2021-08-06 147.89

[1189210 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1189205       Yuma         Arizona  2021-08-02 127.91
1189206       Yuma         Arizona  2021-08-03 117.82
1189207       Yuma         Arizona  2021-08-04 121.38
1189208       Yuma         Arizona  2021-08-05 124.92
1189209       Yuma         Arizona  2021-08-06 147.89

[1189210 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)