In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2107HotfixDev10/v3/en-us/applemobilitytrends-2021-05-05.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-04-26,2021-04-27,2021-04-28,2021-04-29,2021-04-30,2021-05-01,2021-05-02,2021-05-03,2021-05-04,2021-05-05
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,174.68,169.00,195.93,204.77,232.68,246.42,159.96,215.92,176.30,181.91
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,176.21,162.15,170.76,176.99,203.75,200.61,147.11,163.24,151.95,164.45
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,181.54,163.25,172.25,194.97,270.65,282.13,234.62,178.88,192.19,178.11
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,143.07,155.97,159.13,171.99,192.77,179.15,123.80,153.86,160.52,167.05
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,157.46,154.35,154.19,197.21,214.21,215.16,154.03,134.80,139.51,159.14

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

           County           State        Date      0
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
994835       Yuma         Arizona  2021-05-01 130.66
994836       Yuma         Arizona  2021-05-02 114.16
994837       Yuma         Arizona  2021-05-03 124.46
994838       Yuma         Arizona  2021-05-04 116.26
994839       Yuma         Arizona  2021-05-05 122.82

[994840 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

           County           State        Date  Index
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
994835       Yuma         Arizona  2021-05-01 130.66
994836       Yuma         Arizona  2021-05-02 114.16
994837       Yuma         Arizona  2021-05-03 124.46
994838       Yuma         Arizona  2021-05-04 116.26
994839       Yuma         Arizona  2021-05-05 122.82

[994840 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)