In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2206HotfixDev25/v3/en-us/applemobilitytrends-2022-01-26.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2022-01-17,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,146.14,181.91,194.60,184.57,186.40,172.86,139.62,186.26,190.11,207.08
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,171.15,170.88,165.70,165.26,168.31,162.97,125.38,149.98,164.83,161.36
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,146.33,150.47,137.99,137.63,126.04,98.64,125.62,134.50,141.60,147.16
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,152.85,154.94,156.12,166.79,178.32,164.98,113.58,152.63,154.75,153.34
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,101.60,152.51,139.27,126.98,169.99,175.74,136.55,164.96,156.98,147.81

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1550775       Yuma         Arizona  2022-01-22 157.71
1550776       Yuma         Arizona  2022-01-23 129.73
1550777       Yuma         Arizona  2022-01-24 154.03
1550778       Yuma         Arizona  2022-01-25 155.07
1550779       Yuma         Arizona  2022-01-26 148.99

[1550780 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1550775       Yuma         Arizona  2022-01-22 157.71
1550776       Yuma         Arizona  2022-01-23 129.73
1550777       Yuma         Arizona  2022-01-24 154.03
1550778       Yuma         Arizona  2022-01-25 155.07
1550779       Yuma         Arizona  2022-01-26 148.99

[1550780 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)