In [1]:
import pandas as pd
import numpy as np
import re
pd.options.display.float_format = '{:.2f}'.format

In [2]:
des_cartes = pd.read_csv('https://raw.githubusercontent.com/descarteslabs/DL-COVID-19/master/DL-us-mobility-daterow.csv')
des_cartes['admin2'] = des_cartes['admin2'].str.replace(r' County$', '')
des_cartes

,date,country_code,admin_level,admin1,admin2,fips,samples,m50,m50_index
0,2020-03-01,US,1,Alabama,NaN,1.00,133826,8.33,79
1,2020-03-02,US,1,Alabama,NaN,1.00,143632,10.40,98
2,2020-03-03,US,1,Alabama,NaN,1.00,146009,10.54,100
3,2020-03-04,US,1,Alabama,NaN,1.00,149352,10.14,96
4,2020-03-05,US,1,Alabama,NaN,1.00,144109,10.98,104
...,...,...,...,...,...,...,...,...,...
979398,2021-03-10,US,2,Wyoming,Uinta,56041.00,834,5.80,185
979399,2021-03-11,US,2,Wyoming,Uinta,56041.00,774,4.50,143
979400,2021-03-12,US,2,Wyoming,Uinta,56041.00,744,4.69,149
979401,2021-03-13,US,2,Wyoming,Uinta,56041.00,695,2.55,81
979402,2021-03-14,US,2,Wyoming,Uinta,56041.00,649,1.51,48

In [3]:
des_cartes.to_csv('des_cartes.csv', index=False)