In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
positive_df = pd.read_csv('https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-positive-test-rate.csv')
positive_df.tail(5)

,date,confirmed_cases,total_tests,new_confirmed_cases,new_positive_tests,new_tests,new_confirmed_cases_seven_day_total,new_tests_seven_day_total,positive_test_rate_seven_day_percent
495,2021-06-10,3696228.00,67687235.00,697.00,900.00,123704.00,7283.00,933713.00,0.01
496,2021-06-11,3696678.00,67741793.00,450.00,481.00,54558.00,6467.00,817102.00,0.01
497,2021-06-12,3696756.00,67747763.00,78.00,94.00,5970.00,5754.00,750708.00,0.01
498,2021-06-13,3696756.00,nan,0.00,nan,nan,nan,nan,nan
499,NaN,3697299.00,nan,543.00,2157.00,41389.00,nan,nan,nan

In [3]:
bool_series = pd.notnull(positive_df["new_tests_seven_day_total"])
positivity = positive_df[bool_series]
positivity['test'] = 'COVID'
positivity

<ipython-input-3-dd681627605a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positivity['test'] = 'COVID'

,date,confirmed_cases,total_tests,new_confirmed_cases,new_positive_tests,new_tests,new_confirmed_cases_seven_day_total,new_tests_seven_day_total,positive_test_rate_seven_day_percent,test
6,2020-02-07,81.00,904.00,33.00,62.00,452.00,77.00,904.00,0.09,COVID
7,2020-02-08,88.00,961.00,7.00,1.00,57.00,69.00,658.00,0.10,COVID
8,2020-02-09,95.00,983.00,7.00,2.00,22.00,69.00,646.00,0.11,COVID
9,2020-02-10,104.00,999.00,9.00,1.00,16.00,69.00,633.00,0.11,COVID
10,2020-02-11,108.00,1039.00,4.00,0.00,40.00,68.00,642.00,0.11,COVID
...,...,...,...,...,...,...,...,...,...,...
493,2021-06-08,3694794.00,67423105.00,820.00,1186.00,169797.00,8020.00,1067749.00,0.01,COVID
494,2021-06-09,3695531.00,67563531.00,737.00,1076.00,140426.00,7660.00,994499.00,0.01,COVID
495,2021-06-10,3696228.00,67687235.00,697.00,900.00,123704.00,7283.00,933713.00,0.01,COVID
496,2021-06-11,3696678.00,67741793.00,450.00,481.00,54558.00,6467.00,817102.00,0.01,COVID
497,2021-06-12,3696756.00,67747763.00,78.00,94.00,5970.00,5754.00,750708.00,0.01,COVID

In [4]:
positivity.to_csv('positivity.csv', index=False)