In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
race_df = pd.read_csv('https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-race-ethnicity.csv')
race_df

,date,race,age,confirmed_cases_total,confirmed_cases_percent,deaths_total,deaths_percent,population_percent
0,2022-04-22,asian,0-17,103819,0.08,11,0.17,0.13
1,2022-04-22,asian,18+,560905,0.10,10057,0.12,0.17
2,2022-04-22,asian,18-34,215261,0.10,120,0.08,0.15
3,2022-04-22,asian,35-49,147161,0.09,340,0.06,0.18
4,2022-04-22,asian,50-64,115189,0.10,1489,0.08,0.17
...,...,...,...,...,...,...,...,...
11707,2020-05-14,white,35-49,2392,0.18,11,0.08,0.33
11708,2020-05-14,white,50-64,3062,0.24,96,0.22,0.43
11709,2020-05-14,white,65-79,2433,0.36,312,0.34,0.54
11710,2020-05-14,white,80+,1665,0.44,569,0.42,0.57
11711,2020-05-14,white,all,11956,0.23,991,0.34,0.37

In [3]:
race_df.replace(to_replace =["other", "cdph-other"], value ="Other", inplace=True)
race_df.replace(to_replace ="asian", value ="Asian", inplace=True)
race_df.replace(to_replace ="black", value ="Black", inplace=True)
race_df.replace(to_replace ="latino", value ="Latino", inplace=True)
race_df.replace(to_replace ="white", value ="White", inplace=True)
race_df.replace(to_replace ="all", value ="Total", inplace=True)
race_df

,date,race,age,confirmed_cases_total,confirmed_cases_percent,deaths_total,deaths_percent,population_percent
0,2022-04-22,Asian,0-17,103819,0.08,11,0.17,0.13
1,2022-04-22,Asian,18+,560905,0.10,10057,0.12,0.17
2,2022-04-22,Asian,18-34,215261,0.10,120,0.08,0.15
3,2022-04-22,Asian,35-49,147161,0.09,340,0.06,0.18
4,2022-04-22,Asian,50-64,115189,0.10,1489,0.08,0.17
...,...,...,...,...,...,...,...,...
11707,2020-05-14,White,35-49,2392,0.18,11,0.08,0.33
11708,2020-05-14,White,50-64,3062,0.24,96,0.22,0.43
11709,2020-05-14,White,65-79,2433,0.36,312,0.34,0.54
11710,2020-05-14,White,80+,1665,0.44,569,0.42,0.57
11711,2020-05-14,White,Total,11956,0.23,991,0.34,0.37

In [4]:
race_df[race_df.age != '18+']

,date,race,age,confirmed_cases_total,confirmed_cases_percent,deaths_total,deaths_percent,population_percent
0,2022-04-22,Asian,0-17,103819,0.08,11,0.17,0.13
2,2022-04-22,Asian,18-34,215261,0.10,120,0.08,0.15
3,2022-04-22,Asian,35-49,147161,0.09,340,0.06,0.18
4,2022-04-22,Asian,50-64,115189,0.10,1489,0.08,0.17
5,2022-04-22,Asian,65-79,51694,0.11,3198,0.11,0.17
...,...,...,...,...,...,...,...,...
11707,2020-05-14,White,35-49,2392,0.18,11,0.08,0.33
11708,2020-05-14,White,50-64,3062,0.24,96,0.22,0.43
11709,2020-05-14,White,65-79,2433,0.36,312,0.34,0.54
11710,2020-05-14,White,80+,1665,0.44,569,0.42,0.57
11711,2020-05-14,White,Total,11956,0.23,991,0.34,0.37

In [5]:
g = race_df.groupby(['date', 'race', 'age'])['confirmed_cases_total', 'confirmed_cases_percent', 'deaths_total', 'deaths_percent', 'population_percent'].sum().reset_index()
g

<ipython-input-5-b6d144f4f56f>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  g = race_df.groupby(['date', 'race', 'age'])['confirmed_cases_total', 'confirmed_cases_percent', 'deaths_total', 'deaths_percent', 'population_percent'].sum().reset_index()

,date,race,age,confirmed_cases_total,confirmed_cases_percent,deaths_total,deaths_percent,population_percent
0,2020-05-14,Asian,0-17,80,0.04,0,0.00,0.13
1,2020-05-14,Asian,18-34,1177,0.09,3,0.11,0.15
2,2020-05-14,Asian,35-49,1498,0.12,11,0.08,0.18
3,2020-05-14,Asian,50-64,1627,0.13,53,0.12,0.17
4,2020-05-14,Asian,65-79,873,0.13,117,0.13,0.17
...,...,...,...,...,...,...,...,...
9755,2022-04-22,White,35-49,373002,0.23,789,0.14,0.33
9756,2022-04-22,White,50-64,348374,0.30,4077,0.22,0.43
9757,2022-04-22,White,65-79,193133,0.40,9986,0.34,0.54
9758,2022-04-22,White,80+,76885,0.48,14901,0.46,0.57
9759,2022-04-22,White,Total,1695527,0.24,29973,0.34,0.37

In [6]:
g.to_csv('races.csv', index=False)