In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.0f}'.format

In [2]:
scot_shot = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/country_data/Scotland.csv')
scot_shot.tail()

,location,date,vaccine,source_url,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters
596,Scotland,2022-09-05,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/vaccin...,nan,4549148,4284774,nan
597,Scotland,2022-09-08,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/vaccin...,nan,4549330,4285205,nan
598,Scotland,2022-09-09,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/vaccin...,nan,4549396,4285355,nan
599,Scotland,2022-09-10,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/vaccin...,nan,4549473,4285660,nan
600,Scotland,2022-09-11,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/vaccin...,nan,4549556,4285946,nan

In [3]:
scot_vac = scot_shot[['date', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'location']]
scot_vac.rename(columns={'location' : 'country'}, inplace=True)
scot_vac.tail()

C:\Users\Doug Smith\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,country
596,2022-09-05,nan,4549148,4284774,Scotland
597,2022-09-08,nan,4549330,4285205,Scotland
598,2022-09-09,nan,4549396,4285355,Scotland
599,2022-09-10,nan,4549473,4285660,Scotland
600,2022-09-11,nan,4549556,4285946,Scotland

In [4]:
scot_vac.to_csv('scot_shot.csv', index=False)